@import '../../assets/styles/colors'
@import "../../assets/styles/font"
@import "../../assets/styles/border"

.standard
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center

  ul
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-right: 3rem

    li
      list-style: none
      margin-right: 1rem

      a
        background: $white
        color: $theme
        padding: 0.2rem 0.6rem
        border-radius: $small-radius
        font-size: 0.75rem
        font-weight: 700
        outline: none
        border: transparent solid $small-border
        white-space: nowrap

        &:hover
          color: $twhite
          background: $background
          border: $tblack solid $small-border

@media (max-width: 751px)
  .standard
    ul
      padding-right: 1.5rem

@media (max-width: 640px)
  .standard
    min-width: 320px

    ul
      width: 100vw
      justify-content: space-around
      padding: 0 0.5rem

      li
        margin-right: 0

        a
          padding: 0.15rem 0.4rem