.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 45vw;
}

.nav_links .link {
    background: #FFFFFF;
    color: #404F91;

    padding: 5px 20px;
    border-radius: 0.5vh;

    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}