.searchBar {
    height: 30px;
    width: 20vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border-radius: 0 20px 20px 0;
    border: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 15px;
}

.searchBar input {
    height: 4vh;
    width: 85%;

    border: 0;
    outline: 0;
}

.searchBar span {
    cursor: pointer;
    padding: 0;
    color: #404F91;

    z-index: 4;
}