.standard
  display: flex
  flex-direction: column
  box-sizing: border-box
  justify-content: flex-start
  align-items: flex-start

  h2
    font-size: 0.9rem
    font-weight: 700

  h3
    font-size: 0.7rem
    font-weight: 500

  p
    font-size: 0.7rem
    font-weight: 600

  .admin
    color: yellow