@import "../assets/styles/font"
@import "../assets/styles/colors"

.standard
  font-family: $poppins
  font-size: 0.75rem
  color: $white
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-start
  margin-bottom: 0.25rem

  h2
    font-size: 0.8rem
    font-weight: 700
    margin-bottom: 0.35rem

  ul
    li
      margin-bottom: 0.35rem
      list-style-type: circle

.links
  color: $twhite