@import '../../../assets/styles/colors'
@import '../../../assets/styles/border'

.standard
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start

  h2
    color: $twhite
    font-size: 0.8rem
    font-weight: 700

.flex
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start

.links
  color: $twhite
  font-size: 0.65rem
  font-weight: 500
  margin-top: 0.5rem

